<h1>User Login</h1>
<p>A form will appear if you're not logged in, and your username and a logout link will appear if you are</p>

<% if @user.nil? %>

    <div id="login">

      <%= form_tag(
                  {:controller => 'session', :action => 'create'},
                  :remote => true, 'data-type' => 'json',
                  :method => :post, :id =>"login-form"
          ) do %>

          <div class="login-field">
            <%= label_tag SessionController::USERNAME_FIELD, "Username" %><br />
            <%= text_field_tag SessionController::USERNAME_FIELD %>
          </div>

          <div class="login-field">
            <%= label_tag SessionController::PASSWORD_FIELD, "Password" %><br />
            <%= password_field_tag SessionController::PASSWORD_FIELD %>
          </div>

          <%= submit_tag "Login" %>
          <%= link_to "Register", {:controller => 'users', :action => 'new'} %>
      <% end %>
    </div>

    <div id="lastfm">
      <a href=<%= SessionController::LASTFM_TOKEN_URL %>>Login with Last.fm</a>
    </div>

<% else %>

    <div>
      Hello, <strong><%= @user.username %></strong>!
      <% if !@user.email.nil? %> Your email is <%= @user.email %> :) <% end %> <br/>
      Your lastfm username is <%= @user.lastfm_username.nil? ? "not defined" : @user.lastfm_username + ". Nice!" %>
      <%= link_to "Log out", {:action => "delete"}, :method => :post %> or
      <%= link_to "View Users", {:controller => 'users', :action => 'index'} %>
    </div>

<% end %>