<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Hashpass</th>
    <th>Email</th>
    <th>Salt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.hashpass %></td>
    <td><%= user.email %></td>
    <td><%= user.salt %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %> &nbsp;
<%= link_to 'Login', :controller => 'session', :action => 'login' %>
