/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#login, #lastfm
{
    float: left;
}

#lastfm
{
    margin: 25px 0 0 50px;
}

#lastfm a
{
    border-radius: 5px;
    background: url("http://themes.goodlayers.com/creativesans//wp-content/themes/creativesans/include/social-link/icon/lastfm.png")
    no-repeat 10px center #D93129;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 12px;
    padding-left: 35px;
}

#lastfm a:active
{
    background-color: #b50d09;
}